name: docs

on:
  pull_request:
    types:
      - closed

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13.7'
          activate-environment: 'true'

      - run: uv pip install ghp-import
      - run: uv run -- sphinx-build -b html docs docs/_build/html
      - run: uv run ghp-import -n -p -f docs/_build/html
