name: pylint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libmariadb-dev
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13.7'
          activate-environment: 'true'

      - run: uv pip install pylint

      - run: uv run pylint src/
